<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>GenTutor - Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/home.css'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="home-container">
        <div class="profile-section">
            <div class="micro-icon">
                <i class="fas fa-microchip"></i>
            </div>
            <h2 class="welcome-message">Hi, Fadhil Hussain</h2>
        </div>

        <div class="content-row">
            <div class="image-column">
                <img src="../static/photoIcon.png" alt="Educational Illustration" class="content-image">
            </div>
            <div class="text-column">
                <p>GenTutor simplifies teaching by instantly generating notes and questions from textbooks.</p>
                <button class="start-button-text" onclick="window.location.href='quiz.html'">Quiz</button>
            </div>>
        </div>

        
        <div class="content-row">
            <form id="uploadForm" enctype="multipart/form-data">
                <label for="pdf-upload" class="upload-label">Upload your syllabus</label>
                <input type="file" id="pdf-upload" name="syllabus_files" accept=".pdf, image/*" class="pdf-input" multiple>
                <button class="start-button" type="submit">Let's Start</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static',filename='js/home.js') }}"></script>
</body>
</html>